In [2]:
import pandas as pd
import numpy as np
import matplotlib as mlt

In [3]:
df = pd.read_csv(r"E:\unified mentor projects\Heart Disease Diagnostic Analysis\Heart Disease data.csv")
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [4]:
# Print the column names to identify the exact names
print(df.columns)

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [5]:
df.shape

(1025, 14)

In [6]:
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [7]:
df.duplicated().sum()

723

In [8]:
df = df.drop_duplicates()
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [9]:
column = 'oldpeak'
q1 = df[column].quantile(0.25)
q3 = df[column].quantile(0.75)
iqr = q3 - q1

lower_bound = q1 -1.5 * iqr
upper_bound = q3 + 1.5 * iqr

df = df[(df[column]>= lower_bound) & (df[column] <= upper_bound)]
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [27]:
df['Patient ID'] = df.index+1

In [32]:
df['Cholesterol Score'] = pd.cut(df['chol'],bins=[0,199,239,float('inf')], labels =[1, 2, 3])

df['Exercise Capcity Score'] = df['thalach'] - df['age']

df['Heart Disease Prevalence'] = df['target'].map({0: 'No Heart Disease', 1: 'Heart Disease'})

df_cleaned = df

In [33]:
df_cleaned

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,Patient ID,Cholesterol Score,Exercise Capcity Score,Heart Disease Prevalence
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0,1,2,116,No Heart Disease
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0,2,2,102,No Heart Disease
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0,3,1,55,No Heart Disease
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0,4,2,100,No Heart Disease
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0,5,3,44,No Heart Disease
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
723,68,0,2,120,211,0,0,115,0,1.5,1,0,2,1,724,2,47,Heart Disease
733,44,0,2,108,141,0,1,175,0,0.6,1,0,2,1,734,1,131,Heart Disease
739,52,1,0,128,255,0,1,161,1,0.0,2,1,3,0,740,3,109,No Heart Disease
843,59,1,3,160,273,0,0,125,0,0.0,2,0,2,0,844,3,66,No Heart Disease
878,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0,879,1,59,No Heart Disease

In [34]:
df_cleaned.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,Patient ID,Exercise Capcity Score
count,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000
mean,54.377104,0.680135,0.969697,131.353535,246.383838,0.151515,0.521886,149.855219,0.326599,0.977778,1.417508,0.700337,2.309764,0.548822,239.026936,95.478114
std,9.104826,0.467211,1.027867,17.381051,51.668389,0.359155,0.520225,22.919570,0.469761,1.049796,0.599067,0.986959,0.608225,0.498451,187.940562,27.832274
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,4.000000
25%,47.000000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,134.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000,90.000000,77.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.700000,1.000000,0.000000,2.000000,1.000000,192.000000,98.000000
75%,61.000000,1.000000,2.000000,140.000000,274.000000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000,344.000000,113.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,4.000000,2.000000,4.000000,3.000000,1.000000,879.000000,173.000000

In [35]:
df_cleaned.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,Patient ID,Cholesterol Score,Exercise Capcity Score,Heart Disease Prevalence
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0,1,2,116,No Heart Disease
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0,2,2,102,No Heart Disease
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0,3,1,55,No Heart Disease
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0,4,2,100,No Heart Disease
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0,5,3,44,No Heart Disease

In [37]:
df_cleaned.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target', 'Patient ID',
       'Cholesterol Score', 'Exercise Capcity Score',
       'Heart Disease Prevalence'],
      dtype='object')

In [39]:
df_cleaned.to_csv('cleaned_HeartDisease_data.csv', index=False)
df_cleaned

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,Patient ID,Cholesterol Score,Exercise Capcity Score,Heart Disease Prevalence
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0,1,2,116,No Heart Disease
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0,2,2,102,No Heart Disease
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0,3,1,55,No Heart Disease
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0,4,2,100,No Heart Disease
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0,5,3,44,No Heart Disease
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
723,68,0,2,120,211,0,0,115,0,1.5,1,0,2,1,724,2,47,Heart Disease
733,44,0,2,108,141,0,1,175,0,0.6,1,0,2,1,734,1,131,Heart Disease
739,52,1,0,128,255,0,1,161,1,0.0,2,1,3,0,740,3,109,No Heart Disease
843,59,1,3,160,273,0,0,125,0,0.0,2,0,2,0,844,3,66,No Heart Disease
878,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0,879,1,59,No Heart Disease